{% extends 'base.html' %}
{% load static %}

{% block start %}
<head>
</head>
<div class="homeimg max-width-1 m-auto">
    <div class="writeup">
        <h2 style="color: #3ABEF9;">Hi! Fellow Penguin</h2>
        <p>Welcome to the great iceberg where every reader is a unique penguin of our diverse colony! Nestled in the vast expanse of the internet, our iceberg is a cozy haven for explorers of all interests and passions.
          <br><br>
          Dive into our collection of articles spanning a myriad of topics, crafted to cater to every curious beak. Whether you're interested in technology, travel, food, or literature, there's something here to satisfy every penguin's appetite for knowledge and entertainment.
          <br><br>      
          Our colony of writers, much like a pod of penguins, is dedicated to bringing you insightful, engaging, and sometimes playful content that reflects the spirit of our community. Join us as we waddle through the digital ocean, sharing stories, perspectives, and discoveries that make our iceberg a vibrant place to be.
          <br><br>
          Embrace your inner penguin and join the fellowship at Fellow Penguin. Explore, learn, and connect with fellow readers who share your curiosity and enthusiasm. Your journey starts here – where every visit promises a new adventure!
          
          </p>
    </div> <img class="i1" src="{% static 'blog/img/penguin.jpg' %}" alt="Main image">
</div>
<div class="f max-width-1 m-auto" style="color: #3ABEF9;">
  <h1>Go Swim!</h1>
</div>

{% comment %} <div class="max-width-1 m-auto"> {% endcomment %}
    {% comment %} <div="cc12"> {% endcomment %}
        <head></head>
    <div class="cardsss max-width-1 m-auto">
        {% for blog in blogs %}
      <a class="anchor_card" href="{%url "blog_detail" blog.slug%}">
        <div class="card cc123" style="width: 18rem;">
          <img class="card-img-top anchor_img" src="media/{{ blog.image }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            
            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
          </div>
        </div>
      </a>
        {% endfor %}
        <br><br>
        <br><br>

    </div>
    {% comment %}
</div> {% endcomment %}

{% endblock start %}
